.services {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.sSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.sTitle {
  font-size: 88px;
  margin-bottom: 24px;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

.service {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  background-color: #2f213f;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.service:hover {
  transform: scale(1.05);
}

.serviceIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceIcon img {
  width: 20px;
  height: 20px;
}

.serviceInfo h2 {
  font-size: 16px;
  font-weight: 500;
}

.serviceInfo h3 {
  font-size: 12px;
  font-weight: 300;
}

.counterList {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.counter h1 {
  font-size: 40px;
  color: #dd4c62;
}

.counter p {
  font-size: 12px;
  width: 100px;
  text-align: center;
}

/* Responsiveness */

/* Large screens */
@media (max-width: 1536px) {
  .service,
  .counterList {
    width: 70%;
  }
}

/* Medium screens */
@media (max-width: 1280px) {
  .sTitle {
    font-size: 64px;
  }

  .service {
    width: 100%;
  }
}

/* Tablet screens */
@media (max-width: 1024px) {
  .sTitle {
    font-size: 48px;
  }

  .service,
  .counterList {
    width: 100%;
  }

  .services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sSection {
    width: 100%;
    text-align: center;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sSection {
    width: 100%;
    text-align: center;
  }

  .sSection.right {
    display: none;
  }

  .service {
    width: 100%;
    padding: 16px;
  }

  .serviceIcon {
    width: 32px;
    height: 32px;
  }

  .serviceInfo h2 {
    font-size: 14px;
  }

  .serviceInfo h3 {
    font-size: 12px;
  }

  .counterList {
    flex-direction: column;
    gap: 12px;
  }

  .counter h1 {
    font-size: 36px;
  }

  .counter p {
    width: 100%;
  }
}
